* {
    font-size: 0.85rem;
}

#content { 
    padding-top: 65px; 
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}

.card-img-top {
    width: 100%; height: 15vw; object-fit: cover;
}

/* #single-restaurant img {
    width: 18rem;
} */